# Supabase (Next.js usa prefixo NEXT_PUBLIC_)
NEXT_PUBLIC_SUPABASE_URL=seu_url_do_supabase
NEXT_PUBLIC_SUPABASE_ANON_KEY=sua_chave_anon_do_supabase

# Admin inicial (opcional)
NEXT_PUBLIC_ADMIN_CPF=seu_cpf_sem_pontos_e_traco
NEXT_PUBLIC_ADMIN_PASS=sua_senha_admin
